fastapi==0.110.1
uvicorn[standard]==0.29.0

# ✅ Совместимый стек LangChain
langchain==0.1.14
langchain-core==0.1.52
langchain-community==0.0.35
langchain-openai==0.1.6
langchainhub==0.1.15

# Работа с PDF и БД
psycopg2-binary==2.9.9
PyPDF2==3.0.1
tenacity==8.2.3
python-dotenv==1.0.1
pydantic==2.7.1

# Embedding
#sentence-transformers==2.7.0
transformers==4.41.2
#torch==2.3.0
requests==2.31.0
#sentence-transformers==2.7.0


#Тестирование и дебаг
arize-phoenix==3.19.0  # core Arize Phoenix SDK
pandas==2.2.2
pyarrow==15.0.2        # нужен для Excel и parquet, часто требуется при работе с pandas
openpyxl==3.1.2        # для работы с .xlsx

pgvector==0.2.4
python-multipart==0.0.6
pytest